.button {
  border-radius: 100px;
  padding: 25px 60px;
  display: inline-block;
  text-align: center;
  opacity: 1;
  .button-icon {
    height: 35px;
    width: 32px;
    background: no-repeat center;
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    @media #{$mobile-landscape-wide-point} {
      display: block;
      margin: 0 auto;
    }
  }
  .button-text {
    vertical-align: sub;
    display: inline-block;
  }
}
.button.button-sm {
  padding: 10px 30px 8px;
}
.button-white {
  background: $color-white;
  border: 2px solid $color-white;
}
.footer-buttons {
  margin: 20px 0 80px;
  @media #{$tablet-portrait-point} {
    .grid_4 {
      display: block;
      float: none;
      width: auto;
    }
  }
  @media #{$mobile-landscape-wide-point} {
    margin-bottom: 20px;
  }
  .button {
    margin-bottom: 20px;
    display: block;
    padding: 25px 0;
  }
}
.button-outline {
  background: $color-white;
  border: 2px solid $color-accent;
}
.filled-button {
  background: $color-accent;
  border: 2px solid $color-accent;
}

.button-outline:hover {
  background: $color-accent;
  border: 2px solid $color-accent;
}
.filled-button:hover {
  background: $color-white;
  border: 2px solid $color-accent;
}

.button-white:hover {
  background: rgba(255,255,255, .3);
  border: 2px solid $color-white;
}