footer {
  padding: 1% 0;
  position: relative;
  z-index: 5;
  @media #{$mobile-landscape-wide-point} {
    padding-bottom: 40px;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.footer-meta {
  span {
    @media #{$mobile-landscape-wide-point} {
      display: block;
      float: none;
      text-align: center;
    }
  }
}