@mixin ab-grid-wrap(){
    width: $layout-max-width;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;
    @media #{$mobile-landscape-wide-point} {
      max-width: 90%;
    }
}

@mixin ab-grid($columns){
    float: left;
    display: inline;
    margin-left: $layout-column-margin * 100%;
    margin-right: $layout-column-margin * 100%;
    position: relative;
    $column_percentage: ($layout-column-margin * 2) * 100%;
    
    @if $columns == "third" {
        width: (100% / 3) - $column_percentage;
    } @else if $columns == "twothird" {
        width: ((100% / 3) * 2) - $column_percentage;
    } @else {
        width: (($columns / $layout-number-of-columns - (2 * $layout-column-margin)) * 100%);
    }
    
    @media #{$mobile-landscape-wide-point} {
        float: none;
        width: auto;
        display: block;
    }
}

@mixin ab-grid_alpha($columns){
    margin-left: 0;
    margin-right: $layout-column-margin * 100%;
    $column_percentage: ($layout-column-margin * 2) * 100%;
    
    width: (($columns / $layout-number-of-columns - (1 * $layout-column-margin)) * 100%);
    
    @media #{$mobile-landscape-wide-point} {
        width: auto;
        margin: 0;
    }
}

@mixin ab-grid_omega($columns){
    margin-left: $layout-column-margin * 100%;
    margin-right: 0;
    $column_percentage: ($layout-column-margin * 2) * 100%;
    
    width: (($columns / $layout-number-of-columns - (1 * $layout-column-margin)) * 100%);
    
    @media #{$mobile-landscape-wide-point} {
        width: auto;
        margin: 0;
    }
}

@mixin ab-grid_alpha_omega($columns){
    margin-left: 0;
    margin-right: 0;
    $column_percentage: ($layout-column-margin * 2) * 100%;
    
    width: (($columns / $layout-number-of-columns - (0 * $layout-column-margin)) * 100%);
    
    @media #{$mobile-landscape-wide-point} {
        width: auto;
    }
}

@mixin ab-grid-pull($columns, $pull){
    @include ab-grid($columns);
    right: (($pull / $layout-number-of-columns) * 100%);
    
    @media #{$mobile-landscape-wide-point} {
	    right: auto;
    }
}

@mixin ab-grid-push($columns, $push){
    @include ab-grid($columns);
    left: (($push / $layout-number-of-columns) * 100%);
    
    @media #{$mobile-landscape-wide-point} {
	    left: auto;
    }
}

@mixin ab-grid-clear(){
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Grid Classes
---------------------------------------------------------------------------------------------------- */

.container {
	@include ab-grid-wrap();
}

@for $i from 1 to $layout-number-of-columns+1 {
    .grid_#{$i} {
        @include ab-grid($i);
    }
}

@for $i from 1 to $layout-number-of-columns+1 {
    .push_#{$i} {
        left: (($i / $layout-number-of-columns) * 100%);
        @media #{$mobile-landscape-wide-point} {
    	    left: auto;
        }
    }
}

@for $i from 1 to $layout-number-of-columns+1 {
    .pull_#{$i} {
        right: (($i / $layout-number-of-columns) * 100%);
        @media #{$mobile-landscape-wide-point} {
    	    right: auto;
        }
    }
}

@for $i from 1 to $layout-number-of-columns+1 {
    .grid_#{$i}.alpha {
        @include ab-grid_alpha($i);
    }
}

@for $i from 1 to $layout-number-of-columns+1 {
    .grid_#{$i}.omega {
        @include ab-grid_omega($i);
    }
}
@for $i from 1 to $layout-number-of-columns+1 {
    .grid_#{$i}.alpha-omega {
        @include ab-grid_alpha_omega($i);
    }
}
.grid_third {
    @include ab-grid('third');
}
.grid_twothird {
    @include ab-grid('twothird');
}

.clear {
	@include ab-grid-clear();
}