/* Transitions
----------------------------------------------------------------------------------------------------*/

.all-transition, a, .button {
	@include transition(all, .4s);
}

.opacity-transition, .logo-bw, .logo-color {
	@include transition(opacity, .4s);
}

.hp-section {
  @include transition(all, .0s);
}

.fade-in-out-scroll {
  transform: translateZ(0);
  @media #{$mobile-landscape-height} {
    opacity: 1 !important;
    top: auto !important;
  }
}

.hp-section {
  transform: translateZ(0);
}

.fade-in-hp {
  opacity: 0;
}
.fade-in-hp.loaded {
  opacity: 1;
}

/* Animations
----------------------------------------------------------------------------------------------------*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

@keyframes bounce-sideways {
  0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
  40% {transform: translateX(-10px);}
  60% {transform: translateX(-5px);}
} 

@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);  
    transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(360deg);  
    -ms-transform: rotate(360deg);  
    transform: rotate(360deg);  
  }
}
@keyframes opacityPulse {
    0% {transform: scale(1, 1); opacity: 0.0;}
    50% {transform: scale(1.2, 1.2); opacity: 1;}
    100% {transform: scale(1, 1); opacity: 0.0;}
}

.bounce {
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

.bounce-sideways {
  animation-duration: 1s;
  animation-name: bounce-sideways;
  animation-iteration-count: infinite;
}

/* Body
----------------------------------------------------------------------------------------------------*/

body {
	
}

/* Responsive
----------------------------------------------------------------------------------------------------*/

.mobile-hide {
  @media #{$mobile-landscape-wide-point} {
    display: none;
  }
}

/* Backgrounds
----------------------------------------------------------------------------------------------------*/

.bg-accent {
  background-color: $color-accent;
}
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

.bg-light-grey {
  background-color: $color-bg-grey;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-100 {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-fixed {
  background-attachment: fixed;
  @media #{$tablet-portrait-point} {
    background-attachment: scroll;
  }
}

/* Shadows
----------------------------------------------------------------------------------------------------*/
.shadow {
  box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.04);
}

/* Margins & Padding
----------------------------------------------------------------------------------------------------*/

.margin-20 {
  margin: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-30 {
  margin: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-40 {
  margin: 40px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-50 {
  margin: 50px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-60 {
  margin: 60px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-left-60 {
  margin-left: 60px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-70 {
  margin: 70px;
}
.margin-right-70 {
  margin-right: 70px;
}
.margin-left-70 {
  margin-left: 70px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}

.mobile-bottom-margin {
  @media #{$mobile-landscape-wide-point} {
    margin-bottom: 40px;
  }
}

.padding-sides {
  padding: 0 1%;
  @media #{$mobile-landscape-wide-point} {
    padding: 0;
  }
}

.padding-vert-2 {
  padding: 2% 0;
}
.padding-vert-40 {
  padding: 40px 0;
}
.padding-vert-50 {
  padding: 50px 0;
}
.padding-vert-60 {
  padding: 60px 0;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-vert-70 {
  padding: 70px 0;
}
.padding-bottom-70 {
  padding-bottom: 70px;
}
.padding-horizontal-15 {
  padding: 0 15px;
}
.padding-horizontal-50 {
  padding: 0 50px;
}
.padding-top-20 {
  padding-top: 20px;
}

.padding-horizontal-9-4 {
  padding-left: 9.4%;
  padding-right: 9.4%;
}


.right-align {
  float: right;
  @media #{$mobile-landscape-wide-point} {
    float: none;
  }
}

/* Header
----------------------------------------------------------------------------------------------------*/

header {
  position: fixed;
  background: $color-white;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  overflow: hidden;
  z-index: 1;
  @media #{$tablet-portrait-point} {
    overflow: visible;
  }
  
  .header-back {
    position: absolute;
    left: 2%;
    top: 21px;
  }
  .header-back:before {
    display: inline-block;
    width: 36px;
    height: 24px;
    content: '';
    background: url('img/arrow-black-left.svg') no-repeat center;
    background-size: 100% 100%;
    vertical-align: bottom;
    margin-right: 15px;
    position: relative;
    top: 2px;
    @media #{$mobile-landscape-wide-point} {
      top: auto;
    }
  }
  .header-back:hover:before {
    animation-duration: 2s;
    animation-name: bounce-sideways;
    animation-iteration-count: infinite;
  }
  .header-title {
    padding: 0 35px;
  }
  
  .header-buttons {
    position: absolute;
    right: 2%;
    top: 14px;
    @media #{$tablet-portrait-point} {
      display: none;
      position: fixed;
      right: 0;
      background: $color-white;
      top: 65px;
      padding: 20px;
      box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.04);
      .button {
        display: block;
        margin-bottom: 20px;
      }
      .button:last-child {
        margin: 0;
      }
    }
  }
  .header-button-toggle {
    display: none;
    position: absolute;
    right: 2%;
    top: 23px;
    width: 35px;
    height: 24px; 
    background: url('img/more.svg') no-repeat center;
    background-size: 100%;
    @media #{$tablet-portrait-point} {
      display: block;
    }
  }
}
.header-padding {
  padding-top: 65px;
}

/* Homepage
----------------------------------------------------------------------------------------------------*/

.page-template-template-homepage {
  section {
    min-height: 100vh;
    @media #{$tablet-portrait-point} {
      min-height: 0px;
    }
  }
  section.subsequent {
    z-index: 2;
    position: relative;
  }
}
.home-hero {
  position: relative;
  padding-top: 18%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  z-index: 1;
  @media #{$tablet-portrait-point} {
    padding-top: 0;
  }
  .headline-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    @media #{$mobile-landscape-wide-point} {
      padding: 10% 10% 10% 5%;
    }
  }
  .home-work-row {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    @media #{$tablet-portrait-point} {
      display: block;
    }
    .home-work-item {
      display: block;
      background: $color-accent;
      flex: 1;
      //max-height: 253px;
      .home-work-item-inner {
        padding-top: 72%;
        max-height: 100%;
        position: relative;
      }
      .logo-bw {
        opacity: .4;
        transform: translateZ(0);
      }
      .logo-color {
        opacity: 0;
        transform: translateZ(0);
      }
      @media #{$tablet-portrait-point} {
        width: 50%;
        float: left;
      }
    }
    .home-work-item:hover {
      .logo-bw {
        opacity: 0;
      }
      .logo-color {
        opacity: 1;
      }
    }
  }
  .home-work-top-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media #{$tablet-portrait-point} {
      position: relative;
    }
  }
}

.home-hero:after {
  position: fixed;
  //bottom: 20px;
  top: 93vh;
  width: 35px;
  height: 32px;
  left: 50%;
  margin-left: -17px;
  content: '';
  background: url('img/arrow-white-down.svg') no-repeat center;
  background-size: 100% 100%;
  transform: translateZ(0);
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  z-index: 1;
  @media #{$tablet-portrait-point} {
    display: none;
  }
}
.home-hero.prev-section:after {
  display: none;
}

.work-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  .skill {
    margin-bottom: 25px;
    .skill_pattern {
      height: 100px;
      background-size: 31%;
      @media #{$mobile-portrait-point} {
        height: 60px;
        background-size: 35%;
      }
    }
    h2 {
      padding-bottom: 10px;
    }
    .skill-copy {
      padding: 6%;
      @media #{$mobile-portrait-point} {
        text-align: center;
      }
    }
  }
}
.skills.slick-slider {
  display: block;
  max-width: 100%;
  .slick-list {
    width: 90%;
    margin: 0 auto;
  }
  .slick-slide {
    float: left;
    margin: 0 5px;
    outline: none;
  }
  .grid_4 {
    float: left;
    margin: 0 5px;
    outline: none;
  }
}

.about-image {
  padding-top: 41%;
}
.list-wrapper {
  margin: 15px 0 34px;
}
.list-logo {
  height: 37px;
  width: auto;
  margin-right: 15px;
}

.resume-section {
  @media #{$mobile-landscape-wide-point} {
    text-align: center;
  }
}

.hp-section-wrapper {
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  @media #{$tablet-portrait-point} {
    position: relative;
    height: auto;
    top: auto;
    left: auto;
    overflow: visible;
  }
  .hp-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 83px 20px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    @media #{$tablet-portrait-point} {
      position: relative;
      top: auto !important;
      left: auto;
      box-shadow: none;
      transform: none !important;
    }
  }
  #section-1 {
    z-index: 10;
  }
  #section-2 {
    z-index: 7;
  }
  #section-3 {
    z-index: 5;
  }
  #section-4 {
    z-index: 3;
  }
  .prev-section {
    box-shadow: none;
  }
}

.hp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: url('img/android-chrome-256x256.png') no-repeat center;
    background-size: 100%;
    border-radius: 20px;
    animation: opacityPulse 3s ease-out;
    animation-iteration-count: infinite;
  }
}

/* Work Page
----------------------------------------------------------------------------------------------------*/

.work-item {
  margin-bottom: 15px;
  padding-top: 25%;
  position: relative;
  overflow: hidden;
  @media #{$mobile-landscape-wide-point} {
    padding-top: 62%;
  }
  .work-list-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(0);
  }
  .work-list-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(1.1);
  }
  .work-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  }
  .work-list-title {
    position: absolute;
    top: 50%;
    width: 60%;
    left: 20%;
    margin-top: -25px;
    transform: translateY(-50%);
    .password-label {
      display: block;
      margin-top: 8px;
    }
  }
  .tags {
    height: 30px;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    bottom: 20px;
    
    .tag-divider {
      height: 4px;
      background: $color-dark-grey;
      border-radius: 8px;
    }
    ul {
      padding: 0;
      margin: 15px 0 0;
      list-style: none;
      li {
        display: inline-block;
      }
      li:before {
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: $color-white;
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
      }
      li:first-child:before {
        display: none;
      }
    }
  }
  .work-list-clear-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Work Detail
----------------------------------------------------------------------------------------------------*/

.single .hero {
  padding-top: 24.823%;
  @media #{$mobile-landscape-wide-point} {
    padding-top: 45%;
  }
}

.credit-wrapper, .addition-footer-wrapper {
  .container {
    position: relative;
    overflow: visible;
  }
}
.credit-group-wrapper {
  .credit-group:after {
    content: '•••';
    display: block;
    margin: 24px 0;
  }
  .credit-group:last-child:after {
    display: none;
  }
}

.content-copy {
  @media #{$mobile-landscape-wide-point} {
    margin-bottom: 30px;
  }
}

.media-image {
  img {
    width: 100%;
    height: auto;
  }
}
.vimeo-wrapper {
  padding-top: 56.25%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.media-video-embed {
  video {
    margin: 0 0 0 auto;
    display: block;
    @media #{$mobile-landscape-wide-point} {
      margin: 0 auto;
    }
    @media #{$tablet-landscape-point} {
      display: none;
    }
    @media (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      display: none;
    }
  }
  .mobile-fallback-image {
    margin: 0 auto;
    display: none;
    @media #{$tablet-landscape-point} {
      display: block;
    }
    @media (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      display: block;
    }
  }
}
.media-gallery {
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      float: left;
      outline: none;
      img {
        float: left;
      }
    }
  }
}
.slick-slide {
  outline: none;
  float: left;
}
ul.slick-dots {
  text-align: center;
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 15px;
  li {
    display: inline-block;
    float: none;
    button {
      outline: none;
      border: none;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      border: 1.5px solid $color-light-grey;
      background: transparent;
      text-indent: -9999px;
      overflow: hidden;
      position: relative;
      padding: 0;
      margin: 0 7px;
      cursor: pointer;
    }
  }
  .slick-active {
    button {
      border-color: $color-accent;
      background: $color-accent;
    }
  }
}

video {
  max-width: 100%;
}


/* Password form
----------------------------------------------------------------------------------------------------*/
.password-form-wrapper {
  min-height: calc(100vh - 300px);
}
input {
  width: 100%;
  display: block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=password] {
  cursor: pointer;
  border: none;
  border-bottom: 2px solid $color-accent;
  padding-bottom: 15px;
  text-align: center;
}
input[type=submit] {
  cursor: pointer;
}
