.all-transition, a, .button {
	@include transition(all, .4s);
}

.opacity-transition, .logo-bw, .logo-color {
	@include transition(opacity, .4s);
}

body, .bg-accent {
  background-color: $color-accent;
}
.bg-black {
  background-color: $color-black;
}

.hero {
  position: relative;
  padding: 12.2% 0;
}

.headline-image {
  background: no-repeat center center top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  background-attachment: fixed;
  @media #{$tablet-portrait-point} {
    background-attachment: scroll;
  }
}

.margin-right-20 {
  margin-right: 20px;
}
.padding-sides {
  padding: 0 1%;
  @media #{$mobile-landscape-wide-point} {
    padding: 0;
  }
}
