/* Fonts
----------------------------------------------------------------------------------------------------*/

body, input[type=password] {
	font-family: $main-font;
}

/* Sizes
----------------------------------------------------------------------------------------------------*/

body, html {
  font-size: 19px;
  line-height: 1.526;
}

.headline {
  font-size: em(60px);
  line-height: 1.1666;
  @include rt(30, 60, 375, 1380);
  @media #{$mobile-landscape-wide-point} {
    line-height: 1.3333;
  }
}
.footer-title  {
  font-size: em(60px);
  line-height: .75;
}

.section-title {
  font-size: em(60px);
  line-height: 1.16666;
}

h1 {
  font-size: 35px;
  line-height: .75;
}
h1.header-title {
  @include rt(21, 35, 375, 1380);
  line-height: 65px;
}

.work-list-title {
  @include rt(28, 40, 375, 1380);
  line-height: 1;
}

.callout {
  font-size: em(30px);
  line-height: 1.333;
}

h2 {
  font-size: em(28px);
  line-height: 1;
}

h3, footer .button, .header-back, input[type=password] {
  font-size: em(21px);
  line-height: .95;
}
.credit-wrapper h3 {
  line-height: 1.19;
}

.password-label {
  font-size: rem(21px);
}

h4 {
  font-size: em(16px);
  line-height: 1.25;
}

.tags, .header-buttons .button {
  font-size: em(15px);
  line-height: 1;
}

button, .button {
  font-size: em(19px);
  line-height: 1;
}

.footer-meta {
  font-size: em(12px);
  line-height: 1.4
}


/* Colors
----------------------------------------------------------------------------------------------------*/

body {
  color: $color-dark-grey;
}
.headline, .footer-title, .bg-black, .footer-meta a, .tags, .button.filled-button, .button.button-outline:hover, .work-list-title, .tags, .button-white:hover {
  color: $color-white;
}
a, .button, button, .callout, .button.filled-button:hover, .header-back:hover, input[type=password] {
  color: $color-accent;
}
.footer-meta {
  color: $color-accent-light;
}
@include placeholder-vendor(){
  color: $color-accent-light;
}
h4 {
  color: $color-med-grey;
}
.section-title {
  color: $color-light-grey;
}
.header-back, h1.header-title {
  color: $color-black;
}
.med-dark-grey {
  color: $color-med-dark-grey;
}

/* Styles
----------------------------------------------------------------------------------------------------*/

body, h3 span {
  font-weight: 400;
}

h1, h3, h4, button, .button, .section-title, .header-back, .work-list-title, .tags, input[type=password] {
  font-weight: 900;
}
h2, b, strong {
  font-weight: 700;
}
h3 em {
  font-style: normal;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-uppercase, h4, .work-list-title, .tags, .header-buttons .button {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

p a {
  box-shadow: 0px 2px 0px 0px rgba(234,134,99,0);
}
p a:hover {
  box-shadow: 0px 2px 0px 0px rgba(234,134,99,1);
}

/* Margins
----------------------------------------------------------------------------------------------------*/

h1, h2, h3 {
  margin: 0;
}
h4 {
  margin: 5px 0;
}
h2.footer-title {
  margin: .83em 0;
}
h1.headline {
  margin: .67em 0;
}
p {
  margin: 1em 0 1.5em;
}