//font sizes
$font-size-base: 19px;

// Breakpoints
$tablet-landscape-point: "(max-width: 1024px)";
$tablet-portrait-point: "(max-width: 1023px)";
$mobile-landscape-wide-point: "(max-width: 767px)";
$mobile-landscape-narrow-point: "(max-width: 567px)";
$mobile-portrait-point: "(max-width: 479px)";
$mobile-landscape-height: "(max-height: 450px)";

// Layout
$layout-max-width: 1380px;
$layout-number-of-columns: 12;
$layout-column-margin: 0.01;

// Colors
$color-black: #000;
$color-white: #fff;
$color-accent: #EA8663;
$color-accent-light: #FFE4DD;

$color-dark-grey: #4A4A4A;
$color-med-dark-grey: #9B9B9B;
$color-med-grey: #BCBCBC;
$color-light-grey: #D8D8D8;

$color-bg-grey: #F2F2F2;

//Fonts
$main-font: "neuzeit-grotesk", sans-serif;