@charset "UTF-8";
/*
Theme Name: Edith Levin 2018
Theme URI: https://edithgoulet.com/
Author: Adrien Goulet
Author URI: http://acegoulet.com/
Description: SASS-based Responsive wordpress theme
Version: 1.0
*/
/* Base and Resets
---------------------------------------------------------------------------------------------------- */
@import url("https://use.typekit.net/yyk2kgr.css");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 1em;
  -webkit-font-smoothing: antialiased; }

img, object, embed, table, iframe {
  max-width: 100%; }

img {
  height: auto; }

img, a img {
  border: 0; }

body, html {
  margin: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Grid Classes
---------------------------------------------------------------------------------------------------- */
.container {
  width: 1380px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%; }
  @media (max-width: 767px) {
    .container {
      max-width: 90%; } }

.grid_1 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 6.33333%; }
  @media (max-width: 767px) {
    .grid_1 {
      float: none;
      width: auto;
      display: block; } }

.grid_2 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 14.66667%; }
  @media (max-width: 767px) {
    .grid_2 {
      float: none;
      width: auto;
      display: block; } }

.grid_3 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 23%; }
  @media (max-width: 767px) {
    .grid_3 {
      float: none;
      width: auto;
      display: block; } }

.grid_4 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 31.33333%; }
  @media (max-width: 767px) {
    .grid_4 {
      float: none;
      width: auto;
      display: block; } }

.grid_5 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 39.66667%; }
  @media (max-width: 767px) {
    .grid_5 {
      float: none;
      width: auto;
      display: block; } }

.grid_6 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 48%; }
  @media (max-width: 767px) {
    .grid_6 {
      float: none;
      width: auto;
      display: block; } }

.grid_7 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 56.33333%; }
  @media (max-width: 767px) {
    .grid_7 {
      float: none;
      width: auto;
      display: block; } }

.grid_8 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 64.66667%; }
  @media (max-width: 767px) {
    .grid_8 {
      float: none;
      width: auto;
      display: block; } }

.grid_9 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 73%; }
  @media (max-width: 767px) {
    .grid_9 {
      float: none;
      width: auto;
      display: block; } }

.grid_10 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 81.33333%; }
  @media (max-width: 767px) {
    .grid_10 {
      float: none;
      width: auto;
      display: block; } }

.grid_11 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 89.66667%; }
  @media (max-width: 767px) {
    .grid_11 {
      float: none;
      width: auto;
      display: block; } }

.grid_12 {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 98%; }
  @media (max-width: 767px) {
    .grid_12 {
      float: none;
      width: auto;
      display: block; } }

.push_1 {
  left: 8.33333%; }
  @media (max-width: 767px) {
    .push_1 {
      left: auto; } }

.push_2 {
  left: 16.66667%; }
  @media (max-width: 767px) {
    .push_2 {
      left: auto; } }

.push_3 {
  left: 25%; }
  @media (max-width: 767px) {
    .push_3 {
      left: auto; } }

.push_4 {
  left: 33.33333%; }
  @media (max-width: 767px) {
    .push_4 {
      left: auto; } }

.push_5 {
  left: 41.66667%; }
  @media (max-width: 767px) {
    .push_5 {
      left: auto; } }

.push_6 {
  left: 50%; }
  @media (max-width: 767px) {
    .push_6 {
      left: auto; } }

.push_7 {
  left: 58.33333%; }
  @media (max-width: 767px) {
    .push_7 {
      left: auto; } }

.push_8 {
  left: 66.66667%; }
  @media (max-width: 767px) {
    .push_8 {
      left: auto; } }

.push_9 {
  left: 75%; }
  @media (max-width: 767px) {
    .push_9 {
      left: auto; } }

.push_10 {
  left: 83.33333%; }
  @media (max-width: 767px) {
    .push_10 {
      left: auto; } }

.push_11 {
  left: 91.66667%; }
  @media (max-width: 767px) {
    .push_11 {
      left: auto; } }

.push_12 {
  left: 100%; }
  @media (max-width: 767px) {
    .push_12 {
      left: auto; } }

.pull_1 {
  right: 8.33333%; }
  @media (max-width: 767px) {
    .pull_1 {
      right: auto; } }

.pull_2 {
  right: 16.66667%; }
  @media (max-width: 767px) {
    .pull_2 {
      right: auto; } }

.pull_3 {
  right: 25%; }
  @media (max-width: 767px) {
    .pull_3 {
      right: auto; } }

.pull_4 {
  right: 33.33333%; }
  @media (max-width: 767px) {
    .pull_4 {
      right: auto; } }

.pull_5 {
  right: 41.66667%; }
  @media (max-width: 767px) {
    .pull_5 {
      right: auto; } }

.pull_6 {
  right: 50%; }
  @media (max-width: 767px) {
    .pull_6 {
      right: auto; } }

.pull_7 {
  right: 58.33333%; }
  @media (max-width: 767px) {
    .pull_7 {
      right: auto; } }

.pull_8 {
  right: 66.66667%; }
  @media (max-width: 767px) {
    .pull_8 {
      right: auto; } }

.pull_9 {
  right: 75%; }
  @media (max-width: 767px) {
    .pull_9 {
      right: auto; } }

.pull_10 {
  right: 83.33333%; }
  @media (max-width: 767px) {
    .pull_10 {
      right: auto; } }

.pull_11 {
  right: 91.66667%; }
  @media (max-width: 767px) {
    .pull_11 {
      right: auto; } }

.pull_12 {
  right: 100%; }
  @media (max-width: 767px) {
    .pull_12 {
      right: auto; } }

.grid_1.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 7.33333%; }
  @media (max-width: 767px) {
    .grid_1.alpha {
      width: auto;
      margin: 0; } }

.grid_2.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 15.66667%; }
  @media (max-width: 767px) {
    .grid_2.alpha {
      width: auto;
      margin: 0; } }

.grid_3.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 24%; }
  @media (max-width: 767px) {
    .grid_3.alpha {
      width: auto;
      margin: 0; } }

.grid_4.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 32.33333%; }
  @media (max-width: 767px) {
    .grid_4.alpha {
      width: auto;
      margin: 0; } }

.grid_5.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 40.66667%; }
  @media (max-width: 767px) {
    .grid_5.alpha {
      width: auto;
      margin: 0; } }

.grid_6.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 49%; }
  @media (max-width: 767px) {
    .grid_6.alpha {
      width: auto;
      margin: 0; } }

.grid_7.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 57.33333%; }
  @media (max-width: 767px) {
    .grid_7.alpha {
      width: auto;
      margin: 0; } }

.grid_8.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 65.66667%; }
  @media (max-width: 767px) {
    .grid_8.alpha {
      width: auto;
      margin: 0; } }

.grid_9.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 74%; }
  @media (max-width: 767px) {
    .grid_9.alpha {
      width: auto;
      margin: 0; } }

.grid_10.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 82.33333%; }
  @media (max-width: 767px) {
    .grid_10.alpha {
      width: auto;
      margin: 0; } }

.grid_11.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 90.66667%; }
  @media (max-width: 767px) {
    .grid_11.alpha {
      width: auto;
      margin: 0; } }

.grid_12.alpha {
  margin-left: 0;
  margin-right: 1%;
  width: 99%; }
  @media (max-width: 767px) {
    .grid_12.alpha {
      width: auto;
      margin: 0; } }

.grid_1.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 7.33333%; }
  @media (max-width: 767px) {
    .grid_1.omega {
      width: auto;
      margin: 0; } }

.grid_2.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 15.66667%; }
  @media (max-width: 767px) {
    .grid_2.omega {
      width: auto;
      margin: 0; } }

.grid_3.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 24%; }
  @media (max-width: 767px) {
    .grid_3.omega {
      width: auto;
      margin: 0; } }

.grid_4.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 32.33333%; }
  @media (max-width: 767px) {
    .grid_4.omega {
      width: auto;
      margin: 0; } }

.grid_5.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 40.66667%; }
  @media (max-width: 767px) {
    .grid_5.omega {
      width: auto;
      margin: 0; } }

.grid_6.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 49%; }
  @media (max-width: 767px) {
    .grid_6.omega {
      width: auto;
      margin: 0; } }

.grid_7.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 57.33333%; }
  @media (max-width: 767px) {
    .grid_7.omega {
      width: auto;
      margin: 0; } }

.grid_8.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 65.66667%; }
  @media (max-width: 767px) {
    .grid_8.omega {
      width: auto;
      margin: 0; } }

.grid_9.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 74%; }
  @media (max-width: 767px) {
    .grid_9.omega {
      width: auto;
      margin: 0; } }

.grid_10.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 82.33333%; }
  @media (max-width: 767px) {
    .grid_10.omega {
      width: auto;
      margin: 0; } }

.grid_11.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 90.66667%; }
  @media (max-width: 767px) {
    .grid_11.omega {
      width: auto;
      margin: 0; } }

.grid_12.omega {
  margin-left: 1%;
  margin-right: 0;
  width: 99%; }
  @media (max-width: 767px) {
    .grid_12.omega {
      width: auto;
      margin: 0; } }

.grid_1.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 8.33333%; }
  @media (max-width: 767px) {
    .grid_1.alpha-omega {
      width: auto; } }

.grid_2.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 16.66667%; }
  @media (max-width: 767px) {
    .grid_2.alpha-omega {
      width: auto; } }

.grid_3.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 25%; }
  @media (max-width: 767px) {
    .grid_3.alpha-omega {
      width: auto; } }

.grid_4.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 33.33333%; }
  @media (max-width: 767px) {
    .grid_4.alpha-omega {
      width: auto; } }

.grid_5.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 41.66667%; }
  @media (max-width: 767px) {
    .grid_5.alpha-omega {
      width: auto; } }

.grid_6.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 50%; }
  @media (max-width: 767px) {
    .grid_6.alpha-omega {
      width: auto; } }

.grid_7.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 58.33333%; }
  @media (max-width: 767px) {
    .grid_7.alpha-omega {
      width: auto; } }

.grid_8.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 66.66667%; }
  @media (max-width: 767px) {
    .grid_8.alpha-omega {
      width: auto; } }

.grid_9.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 75%; }
  @media (max-width: 767px) {
    .grid_9.alpha-omega {
      width: auto; } }

.grid_10.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 83.33333%; }
  @media (max-width: 767px) {
    .grid_10.alpha-omega {
      width: auto; } }

.grid_11.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 91.66667%; }
  @media (max-width: 767px) {
    .grid_11.alpha-omega {
      width: auto; } }

.grid_12.alpha-omega {
  margin-left: 0;
  margin-right: 0;
  width: 100%; }
  @media (max-width: 767px) {
    .grid_12.alpha-omega {
      width: auto; } }

.grid_third {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 31.33333%; }
  @media (max-width: 767px) {
    .grid_third {
      float: none;
      width: auto;
      display: block; } }

.grid_twothird {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  width: 64.66667%; }
  @media (max-width: 767px) {
    .grid_twothird {
      float: none;
      width: auto;
      display: block; } }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* Fonts
----------------------------------------------------------------------------------------------------*/
body, input[type=password] {
  font-family: "neuzeit-grotesk", sans-serif; }

/* Sizes
----------------------------------------------------------------------------------------------------*/
body, html {
  font-size: 19px;
  line-height: 1.526; }

.headline {
  font-size: 3.15789em;
  line-height: 1.1666;
  font-size: 30px; }
  @media screen and (min-width: 375px) and (max-width: 1380px) {
    .headline {
      font-size: calc(30px + (60 - 30) * ((100vw - 375px) / (1380 - 375))); } }
  @media screen and (min-width: 1380px) {
    .headline {
      font-size: 60px; } }
  @media (max-width: 767px) {
    .headline {
      line-height: 1.3333; } }

.footer-title {
  font-size: 3.15789em;
  line-height: .75; }

.section-title {
  font-size: 3.15789em;
  line-height: 1.16666; }

h1 {
  font-size: 35px;
  line-height: .75; }

h1.header-title {
  font-size: 21px;
  line-height: 65px; }
  @media screen and (min-width: 375px) and (max-width: 1380px) {
    h1.header-title {
      font-size: calc(21px + (35 - 21) * ((100vw - 375px) / (1380 - 375))); } }
  @media screen and (min-width: 1380px) {
    h1.header-title {
      font-size: 35px; } }

.work-list-title {
  font-size: 28px;
  line-height: 1; }
  @media screen and (min-width: 375px) and (max-width: 1380px) {
    .work-list-title {
      font-size: calc(28px + (40 - 28) * ((100vw - 375px) / (1380 - 375))); } }
  @media screen and (min-width: 1380px) {
    .work-list-title {
      font-size: 40px; } }

.callout {
  font-size: 1.57895em;
  line-height: 1.333; }

h2 {
  font-size: 1.47368em;
  line-height: 1; }

h3, footer .button, .header-back, input[type=password] {
  font-size: 1.10526em;
  line-height: .95; }

.credit-wrapper h3 {
  line-height: 1.19; }

.password-label {
  font-size: 1.10526rem; }

h4 {
  font-size: 0.84211em;
  line-height: 1.25; }

.tags, .header-buttons .button {
  font-size: 0.78947em;
  line-height: 1; }

button, .button {
  font-size: 1em;
  line-height: 1; }

.footer-meta {
  font-size: 0.63158em;
  line-height: 1.4; }

/* Colors
----------------------------------------------------------------------------------------------------*/
body {
  color: #4A4A4A; }

.headline, .footer-title, .bg-black, .footer-meta a, .tags, .button.filled-button, .button.button-outline:hover, .work-list-title, .tags, .button-white:hover {
  color: #fff; }

a, .button, button, .callout, .button.filled-button:hover, .header-back:hover, input[type=password] {
  color: #EA8663; }

.footer-meta {
  color: #FFE4DD; }

::-webkit-input-placeholder {
  color: #FFE4DD; }

:-moz-placeholder {
  color: #FFE4DD; }

::-moz-placeholder {
  color: #FFE4DD; }

:-ms-input-placeholder {
  color: #FFE4DD; }

h4 {
  color: #BCBCBC; }

.section-title {
  color: #D8D8D8; }

.header-back, h1.header-title {
  color: #000; }

.med-dark-grey {
  color: #9B9B9B; }

/* Styles
----------------------------------------------------------------------------------------------------*/
body, h3 span {
  font-weight: 400; }

h1, h3, h4, button, .button, .section-title, .header-back, .work-list-title, .tags, input[type=password] {
  font-weight: 900; }

h2, b, strong {
  font-weight: 700; }

h3 em {
  font-style: normal; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-uppercase, h4, .work-list-title, .tags, .header-buttons .button {
  text-transform: uppercase; }

a {
  text-decoration: none; }

p a {
  box-shadow: 0px 2px 0px 0px rgba(234, 134, 99, 0); }

p a:hover {
  box-shadow: 0px 2px 0px 0px #ea8663; }

/* Margins
----------------------------------------------------------------------------------------------------*/
h1, h2, h3 {
  margin: 0; }

h4 {
  margin: 5px 0; }

h2.footer-title {
  margin: .83em 0; }

h1.headline {
  margin: .67em 0; }

p {
  margin: 1em 0 1.5em; }

.button {
  border-radius: 100px;
  padding: 25px 60px;
  display: inline-block;
  text-align: center;
  opacity: 1; }
  .button .button-icon {
    height: 35px;
    width: 32px;
    background: no-repeat center;
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block; }
    @media (max-width: 767px) {
      .button .button-icon {
        display: block;
        margin: 0 auto; } }
  .button .button-text {
    vertical-align: sub;
    display: inline-block; }

.button.button-sm {
  padding: 10px 30px 8px; }

.button-white {
  background: #fff;
  border: 2px solid #fff; }

.footer-buttons {
  margin: 20px 0 80px; }
  @media (max-width: 1023px) {
    .footer-buttons .grid_4 {
      display: block;
      float: none;
      width: auto; } }
  @media (max-width: 767px) {
    .footer-buttons {
      margin-bottom: 20px; } }
  .footer-buttons .button {
    margin-bottom: 20px;
    display: block;
    padding: 25px 0; }

.button-outline {
  background: #fff;
  border: 2px solid #EA8663; }

.filled-button {
  background: #EA8663;
  border: 2px solid #EA8663; }

.button-outline:hover {
  background: #EA8663;
  border: 2px solid #EA8663; }

.filled-button:hover {
  background: #fff;
  border: 2px solid #EA8663; }

.button-white:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff; }

footer {
  padding: 1% 0;
  position: relative;
  z-index: 5; }
  @media (max-width: 767px) {
    footer {
      padding-bottom: 40px; } }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media (max-width: 767px) {
  .footer-meta span {
    display: block;
    float: none;
    text-align: center; } }

/* Transitions
----------------------------------------------------------------------------------------------------*/
.all-transition, a, .button {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.opacity-transition, .logo-bw, .logo-color {
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.hp-section {
  -moz-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out; }

.fade-in-out-scroll {
  transform: translateZ(0); }
  @media (max-height: 450px) {
    .fade-in-out-scroll {
      opacity: 1 !important;
      top: auto !important; } }

.hp-section {
  transform: translateZ(0); }

.fade-in-hp {
  opacity: 0; }

.fade-in-hp.loaded {
  opacity: 1; }

/* Animations
----------------------------------------------------------------------------------------------------*/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); } }

@keyframes bounce-sideways {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(-10px); }
  60% {
    transform: translateX(-5px); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes opacityPulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.0; }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0.0; } }

.bounce {
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite; }

.bounce-sideways {
  animation-duration: 1s;
  animation-name: bounce-sideways;
  animation-iteration-count: infinite; }

/* Body
----------------------------------------------------------------------------------------------------*/
/* Responsive
----------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

/* Backgrounds
----------------------------------------------------------------------------------------------------*/
.bg-accent {
  background-color: #EA8663; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-light-grey {
  background-color: #F2F2F2; }

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.bg-100 {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }

.bg-fixed {
  background-attachment: fixed; }
  @media (max-width: 1023px) {
    .bg-fixed {
      background-attachment: scroll; } }

/* Shadows
----------------------------------------------------------------------------------------------------*/
.shadow {
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.04); }

/* Margins & Padding
----------------------------------------------------------------------------------------------------*/
.margin-20 {
  margin: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-30 {
  margin: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-40 {
  margin: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-50 {
  margin: 50px; }

.margin-right-50 {
  margin-right: 50px; }

.margin-left-50 {
  margin-left: 50px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-60 {
  margin: 60px; }

.margin-right-60 {
  margin-right: 60px; }

.margin-left-60 {
  margin-left: 60px; }

.margin-top-60 {
  margin-top: 60px; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.margin-70 {
  margin: 70px; }

.margin-right-70 {
  margin-right: 70px; }

.margin-left-70 {
  margin-left: 70px; }

.margin-top-70 {
  margin-top: 70px; }

.margin-bottom-70 {
  margin-bottom: 70px; }

@media (max-width: 767px) {
  .mobile-bottom-margin {
    margin-bottom: 40px; } }

.padding-sides {
  padding: 0 1%; }
  @media (max-width: 767px) {
    .padding-sides {
      padding: 0; } }

.padding-vert-2 {
  padding: 2% 0; }

.padding-vert-40 {
  padding: 40px 0; }

.padding-vert-50 {
  padding: 50px 0; }

.padding-vert-60 {
  padding: 60px 0; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-vert-70 {
  padding: 70px 0; }

.padding-bottom-70 {
  padding-bottom: 70px; }

.padding-horizontal-15 {
  padding: 0 15px; }

.padding-horizontal-50 {
  padding: 0 50px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-horizontal-9-4 {
  padding-left: 9.4%;
  padding-right: 9.4%; }

.right-align {
  float: right; }
  @media (max-width: 767px) {
    .right-align {
      float: none; } }

/* Header
----------------------------------------------------------------------------------------------------*/
header {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  overflow: hidden;
  z-index: 1; }
  @media (max-width: 1023px) {
    header {
      overflow: visible; } }
  header .header-back {
    position: absolute;
    left: 2%;
    top: 21px; }
  header .header-back:before {
    display: inline-block;
    width: 36px;
    height: 24px;
    content: '';
    background: url("img/arrow-black-left.svg") no-repeat center;
    background-size: 100% 100%;
    vertical-align: bottom;
    margin-right: 15px;
    position: relative;
    top: 2px; }
    @media (max-width: 767px) {
      header .header-back:before {
        top: auto; } }
  header .header-back:hover:before {
    animation-duration: 2s;
    animation-name: bounce-sideways;
    animation-iteration-count: infinite; }
  header .header-title {
    padding: 0 35px; }
  header .header-buttons {
    position: absolute;
    right: 2%;
    top: 14px; }
    @media (max-width: 1023px) {
      header .header-buttons {
        display: none;
        position: fixed;
        right: 0;
        background: #fff;
        top: 65px;
        padding: 20px;
        box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.04); }
        header .header-buttons .button {
          display: block;
          margin-bottom: 20px; }
        header .header-buttons .button:last-child {
          margin: 0; } }
  header .header-button-toggle {
    display: none;
    position: absolute;
    right: 2%;
    top: 23px;
    width: 35px;
    height: 24px;
    background: url("img/more.svg") no-repeat center;
    background-size: 100%; }
    @media (max-width: 1023px) {
      header .header-button-toggle {
        display: block; } }

.header-padding {
  padding-top: 65px; }

/* Homepage
----------------------------------------------------------------------------------------------------*/
.page-template-template-homepage section {
  min-height: 100vh; }
  @media (max-width: 1023px) {
    .page-template-template-homepage section {
      min-height: 0px; } }

.page-template-template-homepage section.subsequent {
  z-index: 2;
  position: relative; }

.home-hero {
  position: relative;
  padding-top: 18%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  z-index: 1; }
  @media (max-width: 1023px) {
    .home-hero {
      padding-top: 0; } }
  .home-hero .headline-wrapper {
    flex: 1;
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .home-hero .headline-wrapper {
        padding: 10% 10% 10% 5%; } }
  .home-hero .home-work-row {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch; }
    @media (max-width: 1023px) {
      .home-hero .home-work-row {
        display: block; } }
    .home-hero .home-work-row .home-work-item {
      display: block;
      background: #EA8663;
      flex: 1; }
      .home-hero .home-work-row .home-work-item .home-work-item-inner {
        padding-top: 72%;
        max-height: 100%;
        position: relative; }
      .home-hero .home-work-row .home-work-item .logo-bw {
        opacity: .4;
        transform: translateZ(0); }
      .home-hero .home-work-row .home-work-item .logo-color {
        opacity: 0;
        transform: translateZ(0); }
      @media (max-width: 1023px) {
        .home-hero .home-work-row .home-work-item {
          width: 50%;
          float: left; } }
    .home-hero .home-work-row .home-work-item:hover .logo-bw {
      opacity: 0; }
    .home-hero .home-work-row .home-work-item:hover .logo-color {
      opacity: 1; }
  .home-hero .home-work-top-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    @media (max-width: 1023px) {
      .home-hero .home-work-top-row {
        position: relative; } }

.home-hero:after {
  position: fixed;
  top: 93vh;
  width: 35px;
  height: 32px;
  left: 50%;
  margin-left: -17px;
  content: '';
  background: url("img/arrow-white-down.svg") no-repeat center;
  background-size: 100% 100%;
  transform: translateZ(0);
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  z-index: 1; }
  @media (max-width: 1023px) {
    .home-hero:after {
      display: none; } }

.home-hero.prev-section:after {
  display: none; }

.work-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.skills {
  display: flex;
  flex-wrap: wrap; }
  .skills .skill {
    margin-bottom: 25px; }
    .skills .skill .skill_pattern {
      height: 100px;
      background-size: 31%; }
      @media (max-width: 479px) {
        .skills .skill .skill_pattern {
          height: 60px;
          background-size: 35%; } }
    .skills .skill h2 {
      padding-bottom: 10px; }
    .skills .skill .skill-copy {
      padding: 6%; }
      @media (max-width: 479px) {
        .skills .skill .skill-copy {
          text-align: center; } }

.skills.slick-slider {
  display: block;
  max-width: 100%; }
  .skills.slick-slider .slick-list {
    width: 90%;
    margin: 0 auto; }
  .skills.slick-slider .slick-slide {
    float: left;
    margin: 0 5px;
    outline: none; }
  .skills.slick-slider .grid_4 {
    float: left;
    margin: 0 5px;
    outline: none; }

.about-image {
  padding-top: 41%; }

.list-wrapper {
  margin: 15px 0 34px; }

.list-logo {
  height: 37px;
  width: auto;
  margin-right: 15px; }

@media (max-width: 767px) {
  .resume-section {
    text-align: center; } }

.hp-section-wrapper {
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .hp-section-wrapper {
      position: relative;
      height: auto;
      top: auto;
      left: auto;
      overflow: visible; } }
  .hp-section-wrapper .hp-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 83px 20px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden; }
    @media (max-width: 1023px) {
      .hp-section-wrapper .hp-section {
        position: relative;
        top: auto !important;
        left: auto;
        box-shadow: none;
        transform: none !important; } }
  .hp-section-wrapper #section-1 {
    z-index: 10; }
  .hp-section-wrapper #section-2 {
    z-index: 7; }
  .hp-section-wrapper #section-3 {
    z-index: 5; }
  .hp-section-wrapper #section-4 {
    z-index: 3; }
  .hp-section-wrapper .prev-section {
    box-shadow: none; }

.hp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; }
  .hp-overlay .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: url("img/android-chrome-256x256.png") no-repeat center;
    background-size: 100%;
    border-radius: 20px;
    animation: opacityPulse 3s ease-out;
    animation-iteration-count: infinite; }

/* Work Page
----------------------------------------------------------------------------------------------------*/
.work-item {
  margin-bottom: 15px;
  padding-top: 25%;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .work-item {
      padding-top: 62%; } }
  .work-item .work-list-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(0); }
  .work-item .work-list-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(1.1); }
  .work-item .work-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
  .work-item .work-list-title {
    position: absolute;
    top: 50%;
    width: 60%;
    left: 20%;
    margin-top: -25px;
    transform: translateY(-50%); }
    .work-item .work-list-title .password-label {
      display: block;
      margin-top: 8px; }
  .work-item .tags {
    height: 30px;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    bottom: 20px; }
    .work-item .tags .tag-divider {
      height: 4px;
      background: #4A4A4A;
      border-radius: 8px; }
    .work-item .tags ul {
      padding: 0;
      margin: 15px 0 0;
      list-style: none; }
      .work-item .tags ul li {
        display: inline-block; }
      .work-item .tags ul li:before {
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px; }
      .work-item .tags ul li:first-child:before {
        display: none; }
  .work-item .work-list-clear-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Work Detail
----------------------------------------------------------------------------------------------------*/
.single .hero {
  padding-top: 24.823%; }
  @media (max-width: 767px) {
    .single .hero {
      padding-top: 45%; } }

.credit-wrapper .container, .addition-footer-wrapper .container {
  position: relative;
  overflow: visible; }

.credit-group-wrapper .credit-group:after {
  content: '•••';
  display: block;
  margin: 24px 0; }

.credit-group-wrapper .credit-group:last-child:after {
  display: none; }

@media (max-width: 767px) {
  .content-copy {
    margin-bottom: 30px; } }

.media-image img {
  width: 100%;
  height: auto; }

.vimeo-wrapper {
  padding-top: 56.25%;
  position: relative; }
  .vimeo-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.media-video-embed video {
  margin: 0 0 0 auto;
  display: block; }
  @media (max-width: 767px) {
    .media-video-embed video {
      margin: 0 auto; } }
  @media (max-width: 1024px) {
    .media-video-embed video {
      display: none; } }
  @media (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .media-video-embed video {
      display: none; } }

.media-video-embed .mobile-fallback-image {
  margin: 0 auto;
  display: none; }
  @media (max-width: 1024px) {
    .media-video-embed .mobile-fallback-image {
      display: block; } }
  @media (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .media-video-embed .mobile-fallback-image {
      display: block; } }

.media-gallery {
  overflow: hidden; }
  .media-gallery ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .media-gallery ul li {
      display: block;
      float: left;
      outline: none; }
      .media-gallery ul li img {
        float: left; }

.slick-slide {
  outline: none;
  float: left; }

ul.slick-dots {
  text-align: center;
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 15px; }
  ul.slick-dots li {
    display: inline-block;
    float: none; }
    ul.slick-dots li button {
      outline: none;
      border: none;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      border: 1.5px solid #D8D8D8;
      background: transparent;
      text-indent: -9999px;
      overflow: hidden;
      position: relative;
      padding: 0;
      margin: 0 7px;
      cursor: pointer; }
  ul.slick-dots .slick-active button {
    border-color: #EA8663;
    background: #EA8663; }

video {
  max-width: 100%; }

/* Password form
----------------------------------------------------------------------------------------------------*/
.password-form-wrapper {
  min-height: calc(100vh - 300px); }

input {
  width: 100%;
  display: block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=password] {
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #EA8663;
  padding-bottom: 15px;
  text-align: center; }

input[type=submit] {
  cursor: pointer; }

/* Wordpress Content Styles
---------------------------------------------------------------------------------------------------- */
.entry-content .alignleft {
  float: left;
  display: inline;
  margin-right: 0.75em; }

.entry-content .alignright {
  float: right;
  display: inline;
  margin-left: 0.75em; }

.entry-content .aligncenter {
  display: block;
  margin: 0 auto; }

.entry-content blockquote {
  padding: 0 1.5em;
  margin: 1.5em 0; }

.entry-content blockquote p {
  margin-bottom: 0.818em; }

.entry-content code {
  font-family: consolas, 'andale mono', 'courier new', monospace;
  font-size: 1em; }

.entry-content *:first-child {
  margin-top: 0; }

.entry-content *:last-child {
  margin-bottom: 0; }

.entry-content ul, .entry-content ol {
  padding: 0 0 0 1.2em; }
